# **Занятие 4. Арифметика строк**

# 1. Строки в Python

Строка состоит из последовательности символов:

`'Текст в виде строки. Можно использовать цифры и другие символы, но не всякие.'`

или так:

`"1 + 2 = 3 - my text."`

Тип строки `str`. В языке Python нет отдельного символьного типа. Символ — это просто строка длины `1`.

Можно преобразовать число в строку: `str(5)`

In [1]:
# Длина строки
my_str = "1 + 2 = 3 - my text"
len(my_str)

19

Строки представляют собой цепочки символов. В программировании цепочка символов, которая используется в качестве данных, называется символьной последовательностью, или строковым значением, или просто строкой.
Когда символьная последовательность появляется в рабочем коде программы, она называется строковым литералом. В программном коде Python строковые литералы должны быть заключены в знаки кавычек. Как отмечалось ранее, знаки кавычек просто отмечают, где строковые данные начинаются и заканчиваются.

В Python можно заключать строковые литералы в одинарные кавычки (`'`) либо двойные кавычки (`"`).

Если требуется, чтобы строковый литерал содержал одинарную кавычку (*апостроф*), то можно заключить строковый литерал в двойные кавычки. Например:

In [2]:
print("No, it's not!")

No, it’s not!

Аналогичным образом строковый литерал, в котором внутри содержатся двойные кавычки, можно заключить в одинарные кавычки:

In [3]:
print('Программа выдала "No, it`s not!".')

Программа выдала "No, it’s not!".

*Python* имеет тип данных `str`, который используется для хранения в оперативной памяти строковых данных.

Ниже показано, как строковые данные присваиваются переменным:

In [4]:
# Создать переменные, которые ссылаются на два строковых значения.
first_name = "Иван"
last_name = "Доберман"

# Показать значения, на которые эти переменные ссылаются.
print(first_name, last_name)

Иван Доберман

# 2. Арифметические операции над строками

Если в *Python* выполнить следующий код:

In [5]:
a = 1
b = 2
print(a + b)

3

то нетрудно догадаться, что результатом его выполнеия будет сумма значений двух переменных.
Однако, когда оператор `+` используется с двумя строковыми литералами, он выполняет их **конкатенацию** (*или сцепление*). Это означает, что он добавляет один литерал к другому:

In [6]:
print("Это " + "один строковый литерал.")

Это один строковый литерал.

Конкатенация строковых значений может быть полезна с целью разбиения строкового литерала, в результате чего длинный вызов функции print может простираться на несколько строк текста:

In [7]:
print("Введите объем " + "продаж за каждый день и " + "нажмите Enter.")

Введите объем продаж за каждый день и нажмите Enter.

Кроме того, в *Python* к строкам можно применять еще и операцию умножения `*`. В этом случае строка будет повторяться столько раз, сколько указывает множитель. Помяукаем?

In [8]:
print("мяу-" * 5 + "мяу!")

мяу-мяу-мяу-мяу-мяу-мяу!

Первые 5 «мяу» будут выдаваться с последующим дефисом, а заключительное, шестое, – с восклицательным знаком.
Кроме того, в качестве множителя можно использовать числовую переменную, что, как вы убедитесь далее, может быть очень удобным.

# 3. Форматирование в `print()`.

Функция `print()` фактически формирует строку для вывода, в том числе подтягивая к ней значения переменных. Она может не только выводить информацию в консоль, но и формировать её представление при помощи функции `format()`, используемой совместно.

Рассмотрим несколько примеров:

In [9]:
print(format(80000 / 3, "15,.2f"))

      26,666.67

Здесь функция `print()` выводит строку - результат функции `format()`, которой передаётся 2 аргумента:
- *что* печатать;
- *как* печатать.

*Первый аргумент* - число с плавающей очкой, результат деления `80 000` на `3`. *Второй аргумент* - это *строка*, в которой закодировано представление результата:

- `15` - количество символов, отводимое для печати. То есть, вне зависимости от того, сколько требуется для отображения в консоли первого аргумента, функция `print()` будет использовать минимум 15 символов;
- `,` - символ разделения разрядов (тысяч, миллионов и т.д.);
- `.2f` - десятичная часть будет печататься с точностью 2 символа после запятой.

In [10]:
print(format(8 / 3, ".1%"))

266.7%

Здесь запись `'.1%'` говорит от том, что выводимый результат - это проценты. *Python* автоматически умножит его на 100.

In [11]:
print(format(80000, "10,d"))

    80,000

В отличие от первого примера, здесь выводится целочисленное значение. Достаточно заменить `d` на `f`, и появится десятичная точка и нули после неё.

In [12]:
print(format("ABC", "5"), "DEF")

ABC   DEF

А здесь выводятся две строки. На вывод первой отведено 5 символов.

In [13]:
print(format("Первая строка", "20"), format(10, "6d"))
print(format("Вторая строка", "20"), format(1000, "6d"))
print(format("Третья строка", "20"), format(10000, "6d"))
print(format("Четвёртая строка", "20"), format(100000, "6_d"))

Первая строка            10
Вторая строка          1000
Третья строка         10000
Четвёртая строка     100_000

Здесь каждая функция `print()` выводит два объекта - строку, с отведенными под неё 20 символами, и целое число-на 6 символах с разделителем разрядов в виде `_`. Отметим, что последнее число в свои 6 символов не вместилось, поэтому виден выступ.

Функция`print()` работает не только с функцией `format()`, но и с методом `.format()`, который можно применять к печатаемым строкам. Это позволяет использовать внутри функции `print()` печатный шаблон, внутрь которого вставляются значения переменных.

In [14]:
a = 10
b = "Строка"
print("Переменная a имеет значение: {},\nа переменная b: {}".format(a, b))

Переменная a имеет значение: 10,
а переменная b: Строка

Фигурные скобки указывают на место, в которое вставляются значения переменных, указанных в качестве аргументов метода `.format()`. При этом, значения будут вставлены в том же порядке, в каком они переданы методу. Обратите внимание, `.format()` стоит сразу за закрывающей кавычкой. То есть метод вызывается объектом в кавычках:

`" ... ".format(...)`

Если необходимо изменить порядок вывода значений, необязательно переставлять аргументы местами. Достаточно указать правильные индексы внутри шаблона. Напоминаем, в *Python* индексы начинаются с `0`.

In [15]:
a = 10
b = "Строка"
print("Переменная b имеет значение: {1},\nа переменная a: {0}".format(a, b))

Переменная b имеет значение: Строка,
а переменная a: 10

Другим способом, получить аналогичный результат, является использование символа `%` при вызове функции `print()`.

In [16]:
a = 10
b = "Строка"
print("Переменная a имеет значение: %f,\nа переменная b: %s" % (a, b))

Переменная a имеет значение: 10.000000,
а переменная b: Строка

Здесь используются следующие шаблоны:

- `%s` - если нужно вывести значение как строку;
- `%f` - если нужно вывести значение как вещественное число.

При выводе целых чисел можно использовать шаблон `%d`. При этом *Python* выполняет преобразование типов: переменную `a` моно вывести как строку с помощью `%s` - преобразование работает в эту сторону. А вот строковую переменную `b` вывести как число, используя `%d` или `%f` не удастся, и будет получена ошибка.